{% extends 'base/base.html' %} {% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">Measurement Units List</h5>
        <!--<div class="dropdown no-arrow">
            Actions
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Actions</div>
                <a class="dropdown-item" href="{% url 'inventario:newMeasurementUnits' %}"><i class="far fa-calendar-plus"></i> New</a>
            </div>
        </div>-->
    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if not obj %}
        <div class="alert alert-info">Empty</div>
        {% else %}
        <div class="buttons-toolbar">
            <a class="btn" onclick="return openModal('{% url 'inventario:newMeasurementUnits' %}')" href="#"><i class="fa fa-plus"></i> New</a>
        </div>
        <table 
            data-toggle="table" 
            data-pagination="true" 
            data-search="true" 
            data-show-columns="true" 
            data-show-toggle="true"
            data-toolbar=".buttons-toolbar"
        >
            <thead>
                <th>Id</th>
                <th>Unit</th>
                <th>Status</th>
                <th>Creation Date</th>
                <th>Modification Date</th>
                <th class="all">Actions</th>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.status|yesno:"Active, Inactive" }}</td>
                    <td>{{ item.creationDate|date:"d/m/Y H:i:s" }}</td>
                    <td>{{ item.modificationDate|date:"d/m/Y H:i:s" }}</td>
                    <td>
                        <center>
                            <button onclick="return openModal('{% url 'inventario:updateMeasurementUnits' item.id %}')" class="btn btn-warning btn-circle"><i class="far fa-edit"></i></button>
                            <a href="{% url 'inventario:activateMeasurementUnits' item.id %}" class="btn btn-success btn-circle" role="button"><i class="far fa-thumbs-up"></i></a>
                            <button onclick="return openModal('{% url 'inventario:deactivateMeasurementUnits' item.id %}')" class="btn btn-danger btn-circle"><i class="far fa-thumbs-down"></i></button>
                        </center>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock page_content %} {% block js_page %}
<script>
    // Call the dataTables jQuery plugin
    /*$(document).ready(function() {
        $('.table').DataTable();
    });*/
</script>
{% endblock js_page %}